*{outline: 1px solid blue;}
// Variables
$letra-titulo:serif;
$letra-texto:sans-serif;
$color-texto:#666;
$fondo-header:#EEE;
$fondo-footer:#EEE;
$fondo-info:#FFF;
$color-realce:#E48080;
$color-realce2:#544949;
$color-titulo-hs:#FFF;
$color-separadores:#EEE;
$fondo-input:#EEE;


// Reutilizables
	.d-ib{display:inline-block;}
	.tl-titulo{font-family:$letra-titulo;}
	.tl-texto{font-family:$letra-texto;}
	.mg-0{margin:0;}
	.mg-1{margin:1%;}
	.mg-2{margin:2%;}
	.mg-5{margin:5%;}
	.mt-2{margin-top:2%;}
	.mt-5{margin-top:5%;}
	.mt-8{margin-top:8%;}
	.pd-1{padding:1%;}
	.pd-2{padding:2%;}
	.pd-5{padding:5%;}
	.p-ab{position:absolute;}
	.p-rl{position:relative;}
	.hero-section{background-size:cover;background:no-repeat 20% 30%;}
	.img-100{width:100%}
	.d-none{display:none;}

.separacion {margin:3% auto;}
.separacion hr{width:30%;}

// etiqueta
	h1,h2,h3,h4,h5{text-transform:uppercase;font-weight:bold;}
	p {font-family:$letra-texto; color:$color-texto;}
	a{color:#000;} 
	hr{border:2px solid $color-separadores;border-left:none;border-right:none;height: 3px; } 
// header
	#header,#menu, #header button, .mycar button{background:$fondo-header;border:none;}
	#header nav,#menu .container nav{margin-bottom:0;}
	.navbar-default{background:inherit;border:inherit;}
	#info{background:$fondo-info;}
	#info .reloj{font-size:50px;}
	#menu li a:hover{background:$color-realce;color:white;}
	.mycar i{font-size:15px;padding-top:10%;}
	.mycar img{width:30%;}
	.mycar i:hover{background:$color-realce2; color:#FFF;}
	.mycar i:hover p{color:inherit;}
// Hero section
	#hero-section{height:500px;background:url(../images/slider1.jpg)no-repeat 20% 30%;background-size:cover;}
	#hero-section .collection{width:50%;color:$color-titulo-hs;top:20%;margin:auto;}
	#hero-section h2{color:inherit;font-size:3em;font-weight:normal; border:0.1em solid $color-titulo-hs;padding:2%;width:100%;}
	#hero-section p{font-size:1.5em;padding:2%;color:inherit;}
	#hero-section input.check-uno{ bottom:0;left:49%;}
	#hero-section input.check-dos{position:absolute;bottom:0;left:51%;}
// prodctos
	#productos .precio,#more-products .precio{color:$color-realce;}
	#productos img,{z-index:100;}
	.sale,.new{width:20%;color:#FFF;}
	.sale{background:$color-realce2;}
	.new{background:$color-realce;top:10%;}
// marcas
	#marcas{background:url(../images/client-bg.jpg)no-repeat 20% 30%;background-size:cover;}
// more-products
	#more-products img, #more-products .caption{margin-left:5%;width:40%;}
	#more-products .sale,#more-products .new,{margin-left:5%}
	#more-products .new{top:20%;}
// blog
	#blog .thumbnail a{color:$color-realce;}
	#blog .thumbnail {border:none}
	#blog .form-order{color:$color-texto;}
	#blog .form-order i{font-size:2em;margin-top:80%;color:inherit}
	#blog .form-order li{border:1px solid $fondo-header;width:30%;}
// #footer
	#footer{background:$fondo-footer;}
	#footer .part-1 {padding-top:2%;}
	#footer i{background:#FFF;}	
	#footer .part-1 #accesories i{font-size:1.5em;}
	#footer .part-1 ul{padding-left:20px;}
	#footer .part-1 #about-us i{border-radius:50% ;}
	#footer .part-2{background:$color-realce2;}
	#footer .part-2 p{color:#FFF;}


#hero-section-cu{color:#FFF;height:300px;background:url(../images/client-bg.jpg);}
#hero-section-cu h1,#hero-section-cu p{color:inherit;}
#hero-section-cu h1{ background:$color-realce;}
#hero-section-cu .description-cu{ margin-right:15%;}

#contactanos input{width:45%; background:$fondo-input;margin-bottom:3%;}
#contactanos textarea,#contactanos input#sub{background:$fondo-input;width:100% ;margin-bottom:3%;}
#contactanos button{background:$color-realce2;color:#FFF;}