#footer.mt-5
	.part-1
		.container
			.col-md-3#accesories
				h5 ACCESORIES
				p lorem ipsum nidf dsjnfds fndfindsifndskjfn jdsn fjdsnfdsjf nsdfnsdnf
				i.fa.fa-plane.pd-2.mg-1
				i.fa.fa-plane.pd-2.mg-1
				i.fa.fa-plane.pd-2.mg-1
				i.fa.fa-plane.pd-2.mg-1
				i.fa.fa-plane.pd-2.mg-1
				i.fa.fa-plane.pd-2.mg-1
			.col-md-2
				h5 My account
				ul
					li My aksjfhdd
					li My aksjfh
					li My aksjfhdd
					li My aksjfhdd

			.col-md-2
				h5 Informartion
				ul
					li My aksjfhdd
					li My aksjfh
					li My aksjfhdd
					li My aksjfhdd

			.col-md-2
				h5 Extras
				ul
					li My aksjfhdd
					li My aksjfh
					li My aksjfhdd
					li My aksjfhdd
			.col-md-3
				h5 About us
				ul#about-us
					li.list-unstyled 
						i.fa.fa-plane.pd-5.mg-1
						p.d-ib My aksjfhdd
					li.list-unstyled 
						i.fa.fa-plane.pd-5.mg-1
						p.d-ib My aksjfhdd
					li.list-unstyled 
						i.fa.fa-plane.pd-5.mg-1
						p.d-ib My aksjfhdd
	.part-2
		.container.mt-2.pd-1
			p.pull-left	Copyright 2015 <span style="color : #E48080;" >BootExperts </span> All rights reserved
			img.pull-right(src="assets/images/payment.png")

