#footer
	.part-1
		.container
			.col-md-3
				h5 ACCESORIES
				p lorem ipsum nidf dsjnfds fndfindsifndskjfn jdsn fjdsnfdsjf nsdfnsdnf
			.col-md-2
				h5 My account
				ul
					li My aksjfhdd
					li My aksjfh
					li My aksjfhdd
					li My aksjfhdd

			.col-md-2
				h5 Informartion
				ul
					li My aksjfhdd
					li My aksjfh
					li My aksjfhdd
					li My aksjfhdd

			.col-md-2
				h5 Extras
				ul
					li My aksjfhdd
					li My aksjfh
					li My aksjfhdd
					li My aksjfhdd
			.col-md-3
				h5 About us
				ul
					li.list-unstyled 
						i.d-ib here
						p.d-ib My aksjfhdd
					li.list-unstyled 
						i.d-ib phone
						p.d-ib My aksjfhdd
					li.list-unstyled 
						i.d-ib sms
						p.d-ib My aksjfhdd
	.part-2
		.container
			h5.pull-left	Copyright 2015 <span style="color : #C0F;" >BootExperts </span> All rights reserved
			img.pull-right(src="assets/images/payment.png")

