doctype html
html(lang="en")
	head
		include ./head.jade
	body
		include ./header.jade

		#hero-section.hero-section
			.collection.text-center
				h2 AUTUMN/WINTER LOOKBOOK
				p - 2016 COLLECTION -
				input.check-uno(type='checkbox' checked)
				input.check-dos(type='checkbox' )
		#latest.container
			.row
				.col-md-5.text-center
					h3 ACCESORIES <BR>COLLECTION
				.col-md-7
					.ARRIVAL
						h3 NEW ARRIVAL
						p 
							a SHOP NOW
			hr 
			//Latest BestSeller Sale
			.row
				.col-sm-6.col-md-3
					.thumbnail
						img(src="assets/images/a1.jpg" alt="...")
						.caption
							h4 Deliver Wide
							p ...
				.col-sm-6.col-md-3
					.thumbnail
						img(src="assets/images/b1.jpg" alt="...")
						.caption
							h4 Deliver Wide
							p ...
				.col-sm-6.col-md-3
					.thumbnail
						img(src="assets/images/c1.jpg" alt="...")
						.caption
							h4 Deliver Wide
							p ...
				.col-sm-6.col-md-3
					.thumbnail
						img(src="assets/images/d1.jpg" alt="...")
						.caption
							h4 Deliver Wide
							p ...
		#marcas
			.container
				.row
					.col-xs-6.col-md-2
						.thumbnail
							a
								img(src="assets/images/client1.jpg" alt="...")
					.col-xs-6.col-md-2
							.thumbnail
								a
									img(src="assets/images/client2.jpg" alt="...")
					.col-xs-6.col-md-2
							.thumbnail
								a
									img(src="assets/images/client3.jpg" alt="...")
					.col-xs-6.col-md-2
							.thumbnail
								a
									img(src="assets/images/client4.jpg" alt="...")
					.col-xs-6.col-md-2
							.thumbnail
								a
									img(src="assets/images/client5.jpg" alt="...")
					.col-xs-6.col-md-2
							.thumbnail
								a
									img(src="assets/images/client6.jpg" alt="...")
		#more-products.container
			hr 
			// CLOTHING EQUIPMENST JEWELLERY
			.row
				.col-sm-6.col-md-4
					.thumbnail
						.row
							img.d-ib(src="assets/images/a1.jpg" alt="...")
							.caption.d-ib
								h4 Deliver Wide
								p ...
				.col-sm-6.col-md-4
					.thumbnail
						.row
							img.d-ib(src="assets/images/a1.jpg" alt="...")
							.caption.d-ib
								h4 Deliver Wide
								p ...
				.col-sm-6.col-md-4
					.thumbnail
						.row
							img.d-ib(src="assets/images/a1.jpg" alt="...")
							.caption.d-ib
								h4 Deliver Wide
								p ...
			.row
				.col-sm-6.col-md-4
					.thumbnail
						.row
							img.d-ib(src="assets/images/a1.jpg" alt="...")
							.caption.d-ib
								h4 Deliver Wide
								p ...
				.col-sm-6.col-md-4
					.thumbnail
						.row
							img.d-ib(src="assets/images/a1.jpg" alt="...")
							.caption.d-ib
								h4 Deliver Wide
								p ...
				.col-sm-6.col-md-4
					.thumbnail
						.row
							img.d-ib(src="assets/images/a1.jpg" alt="...")
							.caption.d-ib
								h4 Deliver Wide
								p ...
		#blog.container
			hr
			//BLOG
			.row
					.col-xs-6.col-md-3
						.thumbnail
							img(src="assets/images/blog2.jpg" alt="...")
							h4 THE SAMPLE HEADING TITLE
							P 27/11/2015
							P lorem ipsum kjdnfjs ndfodjbds jsdhfusd sjdfbjdsf
							a Read more...

					.col-xs-6.col-md-3
						.thumbnail
							img(src="assets/images/blog1.jpg" alt="...")
							h4 THE SAMPLE HEADING TITLE
							P 27/11/2015
							P lorem ipsum kjdnfjs ndfodjbds jsdhfusd sjdfbjdsf
							a Read more...
					.col-xs-6.col-md-3
						.thumbnail
							img(src="assets/images/blog2.jpg" alt="...")
							h4 THE SAMPLE HEADING TITLE
							P 27/11/2015
							P lorem ipsum kjdnfjs ndfodjbds jsdhfusd sjdfbjdsf
							a Read more...
					.col-xs-6.col-md-3
						.thumbnail
							img(src="assets/images/blog3.jpg" alt="...")
							h4 THE SAMPLE HEADING TITLE
							P 27/11/2015
							P lorem ipsum kjdnfjs ndfodjbds jsdhfusd sjdfbjdsf
							a Read more...
			.row
				.col-md-4
					.col-md-2
						i ring					
					.col-md-10
						h5	ORDER ONLINE NOW
						p	Call Us: (0123) 456789
				.col-md-4
					.col-md-2
						i plane					
					.col-md-10
						h5	FREE WORLDWIDE SHIPPING
						p	On order Over $100
				.col-md-4




					.col-md-2
						i ring					
					.col-md-10
						h5	30 DAYS MONEY BACK 100%
						p	Satisfaction Guarantee

		include ./footer.jade

